{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block menu %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/channels">Channels</a></li>
<li><a href="/records">Records</a></li>
<li><a href="/settings">Settings</a></li>
{% endblock %}
{% block content %}
<div class="page-header">
  <h2>Channels</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Category</th>
          <th>EPG</th>
        </tr>
      </thead>
      <tbody>
        {% for channel in channels %}
          <tr>
            <td>{{ channel[0] }}</td>
            <td>{{ channel[1] }}</td>
            <td>{{ channel[2] }}</td>
            <td>{{ channel[3] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
