{% extends "base.html" %}
{% set active_page = "records" %}
{% block title %}{{ _('Recordings') }}{% endblock %}
{% block content %}
<div class="page-header">
  <h2>{{ _('Recordings') }}</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary" href="{{ url_for('records_form') }}" role="button">{{ _('Add') }}</a>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Start') }}</th>
          <th>{{ _('End') }} </th>
          <th>{{ _('Status') }}</th>
          <th>{{ _('Delete') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1].strftime("%d %b %Y, %H:%M") }}</td>
            <td>{{ record[2].strftime("%d %b %Y, %H:%M") }}</td>
            <td>{{ record[3] }}</td>
            {% if record[3] == 'Wait' %}
            {% set button_text = _('Cancel') %}
            {% else %}
            {% set button_text = _('Delete') %}
            {% endif %}
            <td align="center"><a onclick="return confirm('{{ _("Are you sure you want to") }} {{ button_text.lower() }} {{ _("this schedule?") }}')" class="btn btn-default btn-sm" href="{{ url_for('records_delete_confirmation', record_id=record[4]) }}">{{ button_text }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
