{% extends "base.html" %}
{% set active_page = "records" %}
{% block title %}{{ _('Schedule a recording') }}{% endblock %}
{% block content %}
<div class="page-header">
  <h2>{{ _('Schedule a recording') }}</h2>
</div>
<form method="post">
  {{ form.csrf_token }}
  <div class="form-group">
    <label for="channel_id">{{ _('Channel') }}:</label>
    <p>
      <select id="channel_id" name="channel_id">
      {% for id, name, form_selected in form.channel_id.iter_choices() %}
        <option {% if id == selected %}selected {% endif %}value="{{ id }}">{{ name }}</option>
      {% endfor %}
      </select>
    </p>
  </div>
  {% if form.start.errors %}
  <div class="form-group has-error">
    <label class="control-label" for="start">{{ _('Start date and time') }}:</label>
    <p>{{ form.start(placeholder=form.start.description) }}</p>
    {% for error in form.start.errors %}
      <span id="helpBlock2" class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  <div class="form-group">
    <label for="start">{{ _('Start date and time') }}:</label>
    <p>{{ form.start(placeholder=form.start.description) }}</p>
  </div>
  {% endif %}
  {% if form.end.errors %}
  <div class="form-group has-error">
    <label class="control-label" for="end">{{ _('End date and time') }}:</label>
    <p>{{ form.end(placeholder=form.end.description) }}</p>
    {% for error in form.end.errors %}
      <span id="helpBlock2" class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  <div class="form-group">
    <label for="end">{{ _('End date and time') }}:</label>
    <p>{{ form.end(placeholder=form.end.description) }}</p>
  </div>
  {% endif %}
  <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
</form>
{% endblock %}